@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

* {
  margin: 0;
}

h1 {
  text-align: center;
  font-family: "Cedarville Cursive", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 75px;
}

header {
  background-color: rosybrown;
  color: #fdf5c9;
}

nav {
  background-color: rosybrown;
  color: #fdf5c9;
  padding: 25px;
  font-family: "Lobester", serif;
  text-align: center;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
  word-spacing: 8px;
}

.navbar-nav a:link {
  color: #fdf5c9;
}

.navbar-nav a:visited {
  color: #fdf5c9;
}

.navbar-nav a:hover {
  color: red;
}

.navbar-nav a:active {
  color: red;
}

.navbar-toggler {
  color: rosybrown;
}

footer {
  font-size: 12px;
  background-color: rosybrown;
  color: #fdf5c9;
  margin-top: auto;
  padding: 15px;
  overflow: auto;
}

main {
  background-color: #fdf5c9;
  display: flex;
  justify-content: center;
  align-items: center;
}

.video-container {
  position: relative;
  width: 80%;
  max-width: 200px;
  margin: auto;
  text-align: center;
  overflow: hidden;
}

.video-container video {
  width: 100%;
  height: auto;
}

.button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.left-button {
  left: 0;
}

.right-button {
  right: 0;
}